[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.4.2"
pytest-cov = "==2.7.1"

[packages]
markdown2 = "==2.3.7"
Flask = "==1.0.2"
Jinja2 = "==2.10.1"
